body {
    font-family: "Helvetica", sans-serif;
    background-color: #2A3C53;
    color: #DEFFA0;
}

#banner {
    background-color: #697C86;
    border-radius: 25px;
}

#bannerbuttons {
    width: 960px;
    margin:0 auto;
    height: 100px;
}

#buttonsstyleb {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 110px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.items {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
    margin-top: 25px;
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    color: lightgrey;
}

#bklogo {
    position: absolute;
}

.toplinks {
    color: #DEFFA0;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 250ms;
}

.toplinks:hover {
    color: whitesmoke;
}

#opensentence {
    text-align: center;
    font-size: 2.5vh;
}

#bklogo {
    -webkit-filter: brightness(100%);
}

#bklogo:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.portcontainer {
    width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.portitem {
    border: solid;
    border-color: grey;
    height: 250px;
    width: 250px;
}

.img {
    height: 250px;
    width: 250px;
    border-style: solid;
    border-radius: 15px;
}

.bio {
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 20px;

}

#intro {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
}

.portraitItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.introItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

#portrait {
    width: 350px;
    border-radius: 50%;
    border-style: solid;
}

#projContainer {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 5vh;
}

.itemdesc {
    width: 25vw;
}

a {
    text-decoration: underline;
    color: #9BEF00;
}