
#containerall {
    border-width: thin;
    border-style: solid;
    border-color: grey;
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 720px;
}

.colordiv {
    margin: auto;
    box-sizing: border-box;
    border-width: thin;
    border-style: solid;
    border-color: grey;
    flex-grow: 1;
    height: 100%;
}

.horizontalrow {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: 720px;
}

.blackbg {
    background-color: black;
}

#backbtn {
    margin: auto;
    text-align: center;
}